@import 'my_variables.scss';
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import '../../assets/scss/video-js.css';
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');

html {
  /* 1rem = 10px */
  font-size: 65.5%;
}
body {
  /* default font-size set back to 16px */
  font-size: 2.0rem;
  margin: 0;
  font-family: 'Baloo Bhaina 2', Arial, Helvetica, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  background-color: #fff;
  color: #000;
}
a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.btn {
  font-size: 1.8rem;
  padding: 5px 35px;
  border-radius: 0px;
}